{% extends 'base.html.twig' %}

{% block title %}Guest index{% endblock %}

{% block body %}
    <h1>Guest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr>
                <td>{{ guest.id }}</td>
                <td>{{ guest.Firstname }}</td>
                <td>{{ guest.Lastname }}</td>
                <td>{{ guest.Phone }}</td>
                <td>{{ guest.Email }}</td>
                <td>
                    <a href="{{ path('guest_show', {'id': guest.id}) }}">show</a>
                    <a href="{{ path('guest_edit', {'id': guest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guest_new') }}">Create new</a>
{% endblock %}
