{% extends 'base.html.twig' %}

{% block title %}Bill{% endblock %}

{% block body %}
    <h1>Bill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bill.id }}</td>
            </tr>
            <tr>
                <th>BillDate</th>
                <td>{{ bill.BillDate ? bill.BillDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bill_index') }}">back to list</a>

    <a href="{{ path('bill_edit', {'id': bill.id}) }}">edit</a>

    {{ include('bill/_delete_form.html.twig') }}
{% endblock %}
